.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -43vh;
  }

  .top__icon {
    color: var(--blue);
    font-size: 40px;
    margin-top: 1px;
    margin-right: 10px;
  }

  .top__title {
    color: var(--darkBlue);
    font-size: 36px;
    font-weight: 300;
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5vh;
    gap: 2vh;
  }

  &__card--on {
    display: none;
  }

  &__info {
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 4px #ccc;
  }

  &__image {
    margin-top: 3vh;
  }

  &__description {
    height: 180px;
    background-color: #F5F5F5;
    border-radius: 0 0 8px 8px;
    border-top: 2px solid var(--blue);
  }

  .description__content {
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6vh;
  }

  .description__title {
    font-size: 14px;
    font-weight: 400;
    color: var(--darkBlue);
  }

  .description__price {
    font-size: 18px;
    font-weight: 900;
    color: var(--darkBlue);
  }

  .description__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn__buy {
    position: relative;
    margin-top: 3vh;
    cursor: pointer;
    border: none;
    width: 240px;
    height: 50px;
    background-color: var(--blue);
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all ease 0.2s;
  
    &:hover {    
      background-color: var(--darkBlue);
      transform: scale(1.1);
    }
  }

  .mario__img {          
    height: 80px;      
    position: absolute;
    margin-left: 16vh;
    display: none;
  }

  .btn__buy--active {        
    background-color: var(--darkBlue);           
  }

  .mario__img--active {
    display: block; 
  }  

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

/*RESPONSIVE*/
@media (max-width: 1250px) {
  .products__card {
    flex-direction: column;
    gap: 30vh !important;
  }
  
  .products__title {
    left: -270px;
  }

  .products__info {
    width: 400px !important;
  }

  .products__image {
    width: 400px !important;
  }
}

@media (max-width: 1050px) {
  .products__title {
    left: -110px;
  }   
}

@media (max-width: 800px) {
  .products {
    margin-top: 10vh;
  }
}

@media (max-width: 680px) {
  .products__title {
    left: -53px !important;
  } 
}

@media (max-width: 580px) {
  .products__card {
    gap: 17vh !important;
  }

  .products__title {
    left: -5px !important;
  } 
  
  .products__info {
    width: 300px !important;
  }

  .products__image {
    width: 300px !important;
  }
}

@media (max-width: 375px) {
  .products {
    margin-top: 4vh;
  }

  .products__card {
    display: none;
  }

  .products__card--on {
    display: block;
    width: 100vw;
    margin-top: 4vh;
  }

  .carousel__arrows {    
    position: absolute;
    z-index: 1;
    top: 184vh;
  }

  .arrow__prev,
  .arrow__next {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .arrow__prev {
    position: relative;
    left: 1vh;
  }

  .arrow__next {
    position: relative;
    right: -39vh;
  }

  .arrow__icon {
    font-size: 50px;
  }
  
  .products__title {
    position: relative;
    left: -7vw;
  }

  .slick-list {
    height: 500px;
  }

  .top__icon {
    margin-top: 0 !important;
  }

  .top__title {
    font-size: 24px !important;
    margin-top: 1vh;
  }

  .products__info {
    width: 230px !important;  
    margin: 0 73px;  
  }

  .products__image {
    margin-top: 3vh;
    width: 230px !important;
  }

  .products__description {
    height: 140px !important;
  }

  .description__content {
    height: 7vh !important;
  }

  .btn__buy {    
    margin-top: 3vh !important;        
    width: 160px !important;
    height: 35px !important;            
    font-size: 14px !important;        
    transition: all ease 0.2s;

    &:hover {
      background-color: var(--darkBlue);
      transform: scale(1.1);
    }
  }

  .mario__img {
    height: 60px !important;
    margin-left: 33vw !important;
  }  
}